/* imports the type kit css for the custom font */
@import url("https://use.typekit.net/taj5cvm.css");
/* styling for small mobile devices and medium mobile devices */
@media screen 
and (min-width: 319px)
and (max-width: 424px) {
	body {
		font-size: 3ch;
		max-width: 84vw;
	}
}
/* styling for large mobile devices and small tablets */
@media screen
and (min-width: 425px)
and (max-width: 578px) {
	body {
		font-size: 4ch;
		max-width: 82vw;
	}
}
/* styling for large tablet devices and small laptops */
@media screen
and (min-width: 579px)
and (max-width: 1026px) {
	body {
		font-size: 5ch;
		max-width: 79vw;
	}
}
/* styling for desktop computers */
@media screen
and (min-width: 1027px) {
	body {
		font-size: 8ch;
		max-width: 68vw;
	}
}
/* the blink animation */
@keyframes blinkAnimation {
   0% {
      /* keep this empty */
   } 50% {
      color: transparent;
   } 100% {
      /* keep this empty */
   }
}
@keyframes scanAnimation {
	0% {
	  /* keep this empty */
	}
	100% {
	  background-position: 0rem -3.262rem;
	}
 }
/* the warning animation */
@keyframes warningAnimation {
	0% {
		/* leave this empty */
	} 
	100% {
		color: var(--warning-text-color);
      background-color: var(--warning-color);
      border-color: var(--warning-border-color);
	}
}
/* the success animation */
@keyframes successAnimation {
	0% {
		/* leave this empty */
	}
	100% {
		color: var(--success-text-color);
		background-color: var(--success-color);
      border-color: var(--success-border-color);
	}
}
:root {
	/* warning background and text colors */
	--warning-color: hsla(347, 100%, 52%, 0.4);
   --warning-text-color: hsla(347, 100%, 29%, 0.8);
   --warning-border-color: hsla(347, 100%, 41%, 1.0);
   /* warning background and text colors */
	--success-color: hsla(87, 100%, 52%, 0.4);
   --success-text-color: hsla(87, 100%, 29%, 0.8);
   --success-border-color: hsla(87, 100%, 41%, 1.0);
	/* white background and text colors */
	--white-color: hsl(0, 17%, 89%, 0.4);
   --white-text-color: hsl(0, 17%, 91%, 0.8);
   --white-border-color: hsl(0, 17%, 93%, 1.0);
   /* black background and text colors */
   --black-color: hsl(190, 33%, 17%, 0.4);
   --black-text-color: hsl(190, 33%, 19%, 0.8);
   --black-border-color: hsl(190, 33%, 21%, 1.0);
   /* default background and text colors */
	--default-color: hsla(215, 32%, 58%, 0.3);
   --default-text-color: hsla(0, 0%, 15%, 0.8);
   --default-border-color: hsl(215, 32%, 10%, 1.0);

	/* graphics asset urls from the cloudinary platform */
	/* info: default cursor for bitkit ui in cloudinary */
	--cursor: url(https://res.cloudinary.com/bitkit/ui/ml3.svg);
	--txt-caret: url(https://res.cloudinary.com/bitkit/ui/dn2.svg);
	/* info: f-row full frame for bitkit ui in cloudinary */
	--full-frame: url(https://res.cloudinary.com/bitkit/ui/nk6.svg);
	/* info: weather icons for bitkit features from cloudinary */
	--weather-ice: url(https://res.cloudinary.com/bitkit/w/j8n.svg);
	--weather-sun: url(https://res.cloudinary.com/bitkit/w/u4m.svg);
	--weather-rain: url(https://res.cloudinary.com/bitkit/w/y1q.svg);
	--weather-cloud: url(https://res.cloudinary.com/bitkit/w/b1q.svg);
	--weather-thunder: url(https://res.cloudinary.com/bitkit/w/x3z.svg);
	/* info: various user interface icons for bitkit ui in cloudinary */
	--exit-icon: url(https://res.cloudinary.com/bitkit/ui/uy5.svg);
	--gift-icon: url(https://res.cloudinary.com/bitkit/ui/de9.svg);
	--plus-icon: url(https://res.cloudinary.com/bitkit/ui/e78.svg);
	--arrow-icon: url(https://res.cloudinary.com/bitkit/ui/y23.svg);
	--build-icon: url(https://res.cloudinary.com/bitkit/ui/t6i.svg);
	--trash-icon: url(https://res.cloudinary.com/bitkit/ui/g1l.svg);
	--player-icon: url(https://res.cloudinary.com/bitkit/ui/m9b.svg);
	--scroll-icon: url(https://res.cloudinary.com/bitkit/ui/b06.svg);
	--system-icon: url(https://res.cloudinary.com/bitkit/ui/ec2.svg);
	--trophy-icon: url(https://res.cloudinary.com/bitkit/ui/m7o.svg);
	--weapon-icon: url(https://res.cloudinary.com/bitkit/ui/x9j.svg);
	--question-icon: url(https://res.cloudinary.com/bitkit/ui/u5d.svg);
	--treasure-icon: url(https://res.cloudinary.com/bitkit/ui/vm8.svg);
	--gold-key-icon: url(https://res.cloudinary.com/bitkit/ui/m7m.svg);
	--gold-coin-icon: url(https://res.cloudinary.com/bitkit/ui/ms2.svg);
	--inventory-icon: url(https://res.cloudinary.com/bitkit/ui/u22.svg);
	--red-skull-icon: url(https://res.cloudinary.com/bitkit/ui/l3t.svg);
	--silver-key-icon: url(https://res.cloudinary.com/bitkit/ui/cu4.svg);
	--silver-coin-icon: url(https://res.cloudinary.com/bitkit/ui/s5s.svg);
	--bronze-coin-icon: url(https://res.cloudinary.com/bitkit/ui/b2j.svg);
	--green-skull-icon: url(https://res.cloudinary.com/bitkit/ui/oj0.svg);
	--white-skull-icon: url(https://res.cloudinary.com/bitkit/ui/c1u.svg);
	--purple-skull-icon: url(https://res.cloudinary.com/bitkit/ui/rh7.svg);
	--red-full-heart-icon: url(https://res.cloudinary.com/bitkit/ui/lk1.svg);
	--red-half-heart-icon: url(https://res.cloudinary.com/bitkit/ui/r8p.svg);
	--red-empty-heart-icon: url(https://res.cloudinary.com/bitkit/ui/ye9.svg);
	--blue-full-heart-icon: url(https://res.cloudinary.com/bitkit/ui/hf6.svg);
	--blue-half-heart-icon: url(https://res.cloudinary.com/bitkit/ui/tw0.svg);
	--blue-empty-heart-icon: url(https://res.cloudinary.com/bitkit/ui/qo2.svg);
}
::-webkit-scrollbar {
	height: 0;
}
/* base attributes */
html {
   box-sizing: border-box;
	scroll-behavior: smooth;
   cursor: var(--cursor), auto;
   text-shadow: 0.01rem 0.01rem var(--black-color);
}
/* old-school effect */
html::before {
   inset: 0;
	content: '';
	position: absolute;
   pointer-events: none;
	mix-blend-mode: screen;
	background: linear-gradient(
		to bottom,
		hsla(0, 0%, 0%, 0.0) 50%,
      hsla(0, 0%, 100%, 0.03) 50%
	);
	background-size: 85% 0.805px, 0.805px 85%;
	animation: scanAnimation 0.55s linear infinite;
}
/* base attributes for body */
body {
	/* sets the margin */
	margin: 0 auto;
	/* sets the font */
	font-weight: 400;
   /* sets overflow */
   overflow: hidden;
	/* ! testing: working here ! */
	/* todo: enable user select */
	user-select: none;
	overflow-wrap: break-word;
   /* sets the font color */
	color: var(--default-text-color);
   /* sets a transition to body */
   transition: all 0.285s linear;
   /* sets the font family to lores */
   font-family: 'lores-12', sans-serif;
   /* sets the body background color */
	background-color: var(--black-color);
}
/* button attributes */
button {
	font-size: 1.1ch;
	font-family: inherit;
	cursor: var(--cursor);
	color: var(--black-color);
}
button:hover {
	color: var(--black-text-color);
	transition: linear 0.3s;
}
/* input attributes */
.in-row input,
.in-row input:not(:placeholder-shown) {
	/* sets margin */
	margin: 0 auto;
	/* sets font size */
   font-size: 1.1ch;
	/* sets the font */
	font-weight: 400;
	/* sets the width */
	min-width: 12.6rem;
   /* sets the height */
   min-height: 2rem;
	/* sets the font */
	font-family: inherit;
   /* sets the border style and color */
   border: 0.35rem inset var(--white-border-color);
}
.in-row input:hover {
	cursor: var(--txt-caret), text;
}
.in-row input:focus {
	/* sets an outline */
	outline: 0.35rem solid transparent;
}
/* ul attributes */
ul {
   list-style: none;
   text-align: center;
   padding-inline-end: 2.1rem;
	padding-inline-start: 2.1rem;
}
/* a attributes */
a {
	cursor: inherit;
	text-decoration: none;
	color: var(--default-border-color);
}
/* p attributes */
p {
   text-align: center;
   padding-inline-end: 2.1rem;
	padding-inline-start: 2.1rem;
}
/* hidden and other classes */
.hidden {
	display: none !important;
}
.grid {
	display: grid;
	grid-gap: 0;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}
.flex {
	display: flex !important;
}
.block {
	display: block !important;
}
.inline-flex {
	display: inline-flex !important;
}
.inline-block {
	display: inline-block !important;
}
/* body class */
.bdy-container {
	/* sets margin */
	margin: 0 auto;
   /* sets height */
   min-height: 100vh;
   max-height: 100vh;
}
/* graphic class */
.grphc-container {
	/* sets margin */
	margin: 0 auto;
	/* stops select */
	user-select: none;
   /* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
}
/* carousel class */
.car-container {
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-align: start;
	overscroll-behavior: contain;
	scroll-snap-type: x mandatory;
}
/* text class */
.t-row {
	/* sets margin */
	margin: 0 auto;
   /* sets the font */
   font-weight: 400;
	/* stops select */
	user-select: none;
}
/* prompt class */
.p-row {
	/* sets margin */
	margin: 0 auto;
   /* sets the font */
   font-weight: 400;
	/* stops select */
	user-select: none;
   /* sets the animation for prompts */
	animation-fill-mode: forwards;
   animation: blinkAnimation 0.62s infinite;
}
/* navbar class */
.nb-row {
	/* sets margin */
	margin: 0 auto;
	/* stops select */
	user-select: none;
	/* todo: additional styling */
}
/* button classes */
.btn-row {
	/* sets margin */
	margin: 0 auto;
	/* sets the font */
	font-weight: 600;
	/* stops select */
	user-select: none;
	/* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
	/* sets the border */
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.15rem;
	/* sets the width */
	max-width: 9.8ch;
   /* sets the height */
   min-height: 2.7ch;
	/* sets the background color & shadow */
	background-color: var(--default-color);
   /* sets the border style and color */
   border: 0.5rem outset var(--default-border-color);
}
.btn-row:active {
   color: var(--black-text-color);
   /* sets the background color & shadow */
	background-color: var(--black-color);
}
/* form class */
.f-row {
	/* sets margin */
	margin: 0 auto;
	/* sets the font */
	font-weight: 600;
	/* stops select */
	user-select: none;
	/* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
	/* ! testing: working here ! */
	/* todo: fix display for tablets */
	border-width: 40px;
  	border-style: solid;
	border-image: var(--full-frame) 25 round;
	/* sets the background color & shadow */
	background-color: var(--default-color);
}
/* information class */
.i-row {
	/* sets margin */
	margin: 0 auto;
	/* sets the font */
	font-weight: 600;
	/* stops select */
	user-select: none;
	/* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
	/* sets the border */
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.15rem;
	/* sets the height */
	min-height: 19vh;
	/* sets the background color & shadow */
	background-color: var(--default-color);
   /* sets the border style and color */
   border: 0.5rem outset var(--default-border-color);
}
/* information column */
.i-col {
	/* sets margin */
	margin: 0 auto;
	/* sets the font */
	font-weight: 400;
	/* stops select */
	user-select: none;
   /* top padding */
	padding-top: 0.3ch;
	/* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
	/* sets the border */
	margin-top: 0.2ch;
	margin-left: 0.2ch;
	margin-right: 0.2ch;
	margin-bottom: 0.2ch;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	padding-bottom: 0.3ch;
	border-radius: 0.15rem;
	/* sets the height */
	min-height: 18vh;
	/* sets the background color & shadow */
	background-color: var(--default-color);
   /* sets the border style and color */
   border: 0.5rem outset var(--default-border-color);
}
/* choice class */
.c-row {
	/* sets margin */
	margin: 0 auto;
	/* top margin */
	margin-top: 1rem;
	/* stops select */
	user-select: none;
	/* aligns center */
	text-align: center;
	align-items: center;
   align-content: center;
	justify-content: center;
	/* sets height */
	min-height: 10.5vh;
	/* sets the border */
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.15rem;
	/* sets font color */
	color: var(--default-text-color);
	/* sets the background color & shadow */
	background-color: var(--default-color);
   /* sets the border style and color */
   border: 0.5rem outset var(--default-border-color);
}