/* variables go here */
:root {
   --green-color: hsl(120, 90.9%, 25.9%);
   --gray-color: hsl(0, 0%, 49.4%);
   --background: hsl(120, 90.9%, 7.2%, 0.825);
}

/* todo: reset file and here margin 0? */
body {
   margin: 0 auto;
   background-color: var(--background);
}

#score {
   color: var(--green-color);
}

#highscore {
   color: var(--gray-color);
}