/* import bitkit for future projects, see below for demonstration purposes */
@import url('https://raw.githubusercontent.com/ktortolini/random-cards/main/assets/css/bitkit.css');
/* styling for large tablet devices and small laptops */
@media screen and (min-width: 579px) and (max-width: 1026px) {
	.grphc-container img {
		transform: scale(1.3) !important;
	}
}
/* styling for desktop computers */
@media screen and (min-width: 1027px) {
	.grphc-container img {
		transform: scale(1.9) !important;
	}
}

:root {
	--green-color: hsla(90, 100%, 8%, 0.8);
}

body {
	margin: 0 auto !important;
	background-color: var(--green-color);
}

/* selector for repo link */
a {
	display: block;
	font-size: 1ch;
	text-align: center;
}

/* call variable from bitkit */
#score {
	color: var(--success-text-color);
}
